{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <link rel="icon" type="image/png" href="{% static "assets/icons/Ren logo.webp" %}" />
    <meta name="description" content="Login/Register to enter the realm of JECRC Renaissance 2024 !">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/snackbar.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/signup.css" %}">
    <style>
        html,body {
            background-image: url({%static 'assets/bg/auth.webp'%});            
            background-repeat: repeat-y;
            background-size: cover;
            background-attachment: fixed;
            background-position-y: bottom;
            overflow-x: hidden;
            height:100%;
        }
    </style>
    {% block head %}{% endblock head %}
</head>

<body>
    {% block body %}
    {% endblock body %}
    {% if messages %}
{% for message in messages %}
<div id="snackbar" class="{{message.tags}}">
    {{message}}
    <span class="btn-outline-{{message.tags}} btn-sm closebtn"
      onclick="this.parentElement.style.display='none';">&times;</span>
  </div>
{% endfor %}
{% endif %}
<script>
    function showPass(checkbox) {
        if (checkbox.checked == true) {
            document.getElementById("password").type = "text"
        } else {
            document.getElementById("password").type = "password"
        }
    }
</script>
</body>

</html>