{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <link rel="icon" type="image/png" href="{% static "assets/icons/Ren logo.webp" %}" />
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/nav.css" %}">
    <link rel="stylesheet" href="{% static "css/snackbar.css" %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <style>
        .body-section{
            margin-top:110px;
            min-height:100vh;
        }
        body {
            background-image: url({%static 'assets/bg/landscape/jon-arellano-ur-10.jpg'%});            background-repeat: repeat-y;
            background-size: cover;
            background-attachment: fixed;
            background-position-y: bottom;
            overflow-x: hidden;
        }
    </style>
    {% block head %}{% endblock head %}
</head>
<body>
    <header class="header">
        <img src="{% static "assets/icons/founation.webp" %}"/>
        <i class='bx bx-menu' id="menu-icon"></i>
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="{% url "celebrity" %}">Celebrity</a>
            <a href="{% url "events" %}">Events</a>
            <a href="{% url "itinerary" %}">Itinerary</a>
            <a href="{% url "contact" %}">Contact</a>
            {% if request.user.is_authenticated %}
            <a href="{% url "profile" %}">
                  Profile
                </a>
        {% else %}
            <a href="{% url "login" %}">
                Login/Signup
            </a>     
        {% endif %}
        </nav>
        <img src="{% static "assets/icons/Ren logo.webp" %}"/>
    </header>
    <div class="nav-bg"></div>
    {% block body %}{% endblock body %}
{% if messages %}
{% for message in messages %}
<div id="snackbar" class="{{message.tags}}">
    {{message}}
    <span class="btn-outline-{{message.tags}} btn-sm closebtn"
      onclick="this.parentElement.style.display='none';">&times;</span>
  </div>
{% endfor %}
{% endif %}
        
        <footer id="footer" class="footer text-light mt-auto p-0 bg-black">

            <div class="container-fluid px-5 py-4">
                <div class="row justify-content-evenly">
                    <div class="col-xs-6 col-sm-3 column text-center d-flex flex-column">
                        <div class="my-4 ">
                            <img src="{% static "assets/icons/Ren logo.webp" %}" width="310px"
                                class="footer-logo" />
                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-3 column text-center d-flex flex-column">
                        <div class="my-4 "><img src="{% static "assets/icons/student council.webp" %}" width="300px"
                                class="footer-logo" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 column text-center d-flex flex-column">
                        <h4>Contact Us</h4>
                        <hr class="mb-4 underline" />
                        <ul class="list-unstyled py-4">
                            <li>
                                <a href="tel:7742044215" class="nav-link2">For Registration: +917742044215</a>
                                <h6>(Tanishk Maheshwari)</h6> 
                                </li>
                            <li>
                                <a href="tel:8825312144" class="nav-link2">For Technical: +918825312144</a>
                                <h6>(Aayu Sah)</h6>
                            </li>
                            <li>
                                <a href="tel:8302007298" class="nav-link2">For Cultural: +918302007298</a>
                                <h6>(Suyash chaklan)</h6>
                            </li>
                            <li>
                                <a href="tel:8769518424" class="nav-link2">For Splash: +918769518424</a>
                                <h6>(Mahak Chouhan)</h6> <br><br>
                            </li>
                            
                            <li>
                                <a href="mailto:renaissance@jecrc.ac.in" class="nav-link">renaissance@jecrc.ac.in</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-3 text-center d-flex flex-column">
                        <h4>Follow Us</h4>
                        <hr class="underline" />

                        <div class="row justify-content-center">
                            <h6 class="my-3">JECRC Foundation</h6>
                            <div class="d-flex justify-content-center">
                                <div class="m-2">
                                    <a rel="nofollow" target="_blank" class="navbar-brand"
                                        href="https://www.youtube.com/@jecrcfoundation2150" title="Twitter">
                                        <img loading="lazy" src="{% static "assets/icons/youtube.webp" %}" height="40px" />
                                    </a>
                                </div>
                                <div class="m-2">
                                    <a rel="nofollow" target="_blank" class="navbar-brand facebook"
                                        href="https://www.facebook.com/JECRCfoundation/" title="Facebook">
                                        <img loading="lazy" src="{% static "assets/icons/facebook.webp" %}" height="40px" />
                                    </a>
                                </div>
                                <div class="m-2">
                                    <a target="_blank" rel="nofollow" class="navbar-brand"
                                        href="https://www.instagram.com/jecrcfoundationofficial/" title="instagram">
                                        <img loading="lazy" src="{% static "assets/icons/instagram.webp" %}" height="40px" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <h6 class="my-3">JECRC Renaissance</h6>
                            <div class="d-flex justify-content-center">
                                <div class="m-2">
                                    <a rel="nofollow" target="_blank" class="navbar-brand"
                                        href="https://youtube.com/@TheJECRCRenaissance" title="Twitter">
                                        <img loading="lazy" src="{% static "assets/icons/youtube.webp" %}" height="40px" />
                                    </a>
                                </div>
                                <div class="m-2">
                                    <a rel="nofollow" target="_blank" class="navbar-brand"
                                        href="https://www.facebook.com/jecrcrenaissance/" title="Facebook">
                                        <img loading="lazy" src="{% static "assets/icons/facebook.webp" %}" height="40px" />
                                    </a>
                                </div>
                                <div class="m-2">
                                    <a target="_blank" rel="nofollow" class="navbar-brand"
                                        href="https://www.instagram.com/jecrcrenaissance/" title="instagram">
                                        <img loading="lazy" src="{% static "assets/icons/instagram.webp" %}" height="40px" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <h6 class="my-3">Media Partner</h6>
                            <div class="d-flex justify-content-center">
                                <div class="m-2">
                                    <a rel="nofollow" target="_blank" class="navbar-brand"
                                        href="https://instagram.com/fotografreaks_jecrc_" title="instagram">
                                        <img loading="lazy" src="{% static "assets/icons/ff.webp" %}" height="40px" />
                                    </a>
                                </div>

                                <div class="m-2">
                                    <a target="_blank" rel="nofollow" class="navbar-brand"
                                        href="https://instagram.com/fotografreaks_jecrc_" title="instagram">
                                        <img loading="lazy" src="{% static "assets/icons/instagram.webp" %}" height="40px" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column text-center py-4 m-0" style="background-color: rgba(20, 22, 30, 1)">
                <div class="credits m-auto">
                    <p class="my-2">Developed & Maintained by
                        <a target="_blank" href="{% url "team" %}">Team Renaissance</a>
                    </p>
                </div>
                <div class="copyright m-auto">
                    <p class="my-2">&copy; Copyright 2024 <strong>Jecrc Foundation</strong>. All Rights Reserved.</p>
                </div>
            </div>
        </footer>
        <script src="{% static "js/navbar.js" %}" async></script>
    {% block script %}
    {% endblock script %}
</body>
</html>