{% extends "base.html" %}
{% load static %}
{% block title %}Events{% endblock title %}
{% block head %}
    <meta name="description" content="Step into a world where imagination knows no bounds, where creativity takes center stage, and where dreams come to life. 
    JECRC college fest event section is a kaleidoscope of excitement, offering a tapestry of experiences that will leave you spellbound. 
    From the pulsating beats of live music performances to the spellbinding displays of artistry in our galleries, every corner of our event section is a canvas waiting to be painted with your unique energy.">
    <link rel="stylesheet" href="{% static "css/events.css" %}" rel="preload">
    <link rel="stylesheet" href="{% static "css/events-codepen.css" %}" rel="preload">
    <style>
        body{
            background-image: url("{% static "assets/bg/landscape/jon-arellano-ur-10.jpg" %}");
            background-repeat: repeat-y;
            background-size: cover;
            background-attachment: fixed;
            background-position-y: bottom;
        }
        @media screen and (max-width: 600px) {
            
            body{
                background-image: url("{% static "assets/bg/mobile/jon-arellano-ur-10 mobile.jpg" %}");
                background-repeat: repeat-y;
                background-size: cover;
                background-attachment: fixed;
                background-position-y: bottom;
            }
          }
    </style>
    {% endblock head %}

{% block body %}
    <div class="container body-section">
        <div class="title">
            <div class="btn-group btn-group-lg" role="group" aria-label="Large size button group">
                <button onClick="updateUrl('type','tech')" class="radio-btn btn-outline-primary glass-button">Technical</button>
                <button onClick="updateUrl('type','splash')" class="radio-btn btn-outline-info glass-button" >Splash</button>
                <button onClick="updateUrl('type','cultural')" class="radio-btn btn-outline-info glass-button" >Cultural</button>
            </div>
        </div>
        <div class="title">
            <div class="btn-group btn-group-lg" role="group" aria-label="Large size button group">
                <button onClick="updateUrl('day','1')" type="button" class="radio-btn btn-outline-primary glass-button">Day 1</button>
                <button onClick="updateUrl('day','2')" type="button" class="radio-btn btn-outline-info glass-button" >Day 2</button>
                <button onClick="updateUrl('day','3')" type="button" class="radio-btn btn-outline-info glass-button" >Day 3</button>
            </div>
        </div>
        <div class="cardx-cultural">
            <main id="app">
                {% for event_set in events %}
                <section class="cards">
                    {% for event in event_set %}
                            <img class="event-card"
                                src="{{event.poster.url}}"
                                onClick="showModalDialog({{event.id}})">
                            {% endfor %}
                        </section>
                        {% endfor %}
            </main>
        </div>
        </div>
    </div>
    {% if request.user.is_authenticated %}
    {% for data in modal %}
    <div id="modal-{{data.id}}" class="modal-overlay">
        <div class="modal-body">
          <div class="d-flex justify-content-between">
            <h2 >{{ data.name }}</h2>
            <button class="btn btn-outline-danger my-auto" id="close-modal-btn-{{data.id}}">&times;</button>
          </div>
          <div class="modal-desc">
            <h4 class="my-2">Date</h4>
            <span >{{ data.date|date:'D, d M, Y' }}</span>
            <h4 class="my-2">Type</h4>
            <span>{{ data.get_type_display }}</span>
            <p >{{ data.description }}</p>
            <h4 class="my-2">Amount</h4>
            <span>{{ data.amount }}</span>
            <h4 class="my-2">Venue</h4>
            <span>{{ data.venue }}</span>
            <h4 class="my-2">Time</h4>
            <span>{{ data.time|time:"h:i A"}}</span>
            <hr>
            <h4 style="color:red">
              {% if data.includedInPass %}
                Included in Ren Pass
              {% endif %}
            </h4>
              <ul>
                  <li>For outsider registration fill out the google form</li>
                  <li>If the Buy Now button is disabled, either your Ren Pass is not activated or You have already booked your events.</li>
                  <li>If you have paid ₹600 but your Ren Pass is not activated, you can contact Registration Desk.</li>
              </ul>
          </div>
            <div class="d-flex justify-content-evenly pt-2">
              {% if data.includedInPass %}
                {% if pass %}
                  {% if data.type == 'tech' %}
                    {% if pass.technical %}
                      <button class="btn btn-primary" disabled>Technical event purchased</button>
                    {% else %}
                      <button class="btn btn-primary" onClick="buyNow({{data.id}},'{{data.name}}')">Buy Now</button>
                    {% endif %}
                  {% elif data.type == 'splash' %}
                    {% if pass.splash %}
                      <button class="btn btn-primary" disabled>Splash event purchased</button>
                    {% else %}
                      <button class="btn btn-primary" onClick="buyNow({{data.id}},'{{data.name}}')">Buy Now</button>
                    {% endif %}
                  {% endif %}
                {% else %}
                  <button class="btn btn-primary" disabled>Ren pass inactive</button>
                {% endif %}
              {% else %}
                  <button class="btn btn-primary" disabled>Not Included in Ren Pass</button>
              {% endif %}
              <a class="btn btn-outline-primary" href="https://forms.gle/4GkxCVzY9Jkp3KeXA" target="_blank">Register by Google Form</a>
            </div>
        </div>
      </div>
      {% endfor %}
    {% else %}
    {% for data in modal %}
    <div id="modal-{{data.id}}" class="modal-overlay">
      <div class="modal-body">
        <div class="d-flex justify-content-between">
          <h2 >{{ data.name }}</h2>
          <button class="btn btn-outline-danger my-auto" id="close-modal-btn-{{data.id}}">&times;</button>
        </div>
        <div class="modal-desc">
        <h4 class="my-2">Date</h4>
        <span >{{ data.date|date:'D, d M, Y' }}</span>
        <h4 class="my-2">Type</h4>
        <span>{{ data.get_type_display }}</span>
        <p >{{ data.description }}</p>
        <h4 class="my-2">Amount</h4>
        <span>{{ data.amount }}</span>
        <h4 class="my-2">Venue</h4>
        <span>{{ data.venue }}</span>
        <h4 class="my-2">Time</h4>
        <span>{{ data.time|time:"h:i A"}}</span>
        <hr>
        <h4 style="color:red">
          {% if data.includedInPass %}
            Included in Ren Pass
          {% endif %}
        </h4>
        <p>
          <ul>
              <li>For outsider registration fill out the google form</li>
              <li>If the Buy Now button is disabled, either your Ren Pass is not activated or You have already booked your events.</li>
              <li>If you have paid ₹600 but your Ren Pass is not activated, you can contact Registration Desk.</li>
          </ul>
        </p>
      </div>
        <div class="d-flex justify-content-evenly pt-2">
          <a class="btn btn-primary" href="{% url 'login' %}">Login to buy Ticket</a>
          <a class="btn btn-outline-primary" href="https://forms.gle/4GkxCVzY9Jkp3KeXA" target="_blank">Register by Google Form</a>
        </div>
      </div>
    </div>
      {% endfor %}
      {% endif %}
    {% endblock body %}

{% block script %}
<script src="{% static "js/modal.js" %}" defer></script>
{% endblock script %}

