{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index, follow">
        <meta name="description" content="At JECRC Renaissance 2024, Students can explore and uncover their uniqueness in a flexible setting at National Techno/Cultural Fest. 
        Renaissance is an opportunity that provides each student with a distinct edge and offers them the fortitude and skill to deal with the outside world. 
        Renaissance, JECRC's annual techno-cultural fair, invites students from all over India to compete at a level of creativity, ingenuity, and skill never seen before in
        activities spanning a range of science, technology, and management domains. A wide range of events are offered by the festival to allow participants to showcase their skills, 
        and the considerable prize money is a testament to the event's grandeur. Attend this technology management exhibition, scheduled for March 19–21, 2024, as we attempt to enthrall once more.">
        <link rel="icon" type="image/png" href="{% static "assets/icons/Ren logo.webp" %}" />
        <title>Renaissance 2024</title>
        <link rel="stylesheet" href="{% static "css/nav.css" %}">
        <link rel="stylesheet" href="{% static "css/style_hero.css" %}">
        <link rel="stylesheet" href="{% static "css/ind.css" %}">
        <link rel="stylesheet" href="{% static "css/slider.css" %}">
        <link rel="stylesheet" href="{% static "css/carousel.css" %}">
        <link rel="stylesheet" href="{% static "css/snackbar.css" %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
            crossorigin="anonymous" />
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <style>
        @font-face {
            font-family: a;
            src: url("{% static "fonts/KlemerDisplayDemoRegular-ax5qg.ttf" %}") format("truetype");
        }

        body{
            background-image: url({% static "assets/index/dasktop_baground.webp" %});
            background-attachment:fixed;
        }
    </style>

    <body>
        <header class="header">
            <img class="logo-width" src="{% static "assets/icons/founation.webp" %}" width="5%" />
            <i class='bx bx-menu' id="menu-icon"></i>
            <nav class="navbar">
                <a href="/">Home</a>
                <a href="{% url "celebrity" %}">Celebrity</a>
                <a href="{% url "events" %}">Events</a>
                <a href="{% url "itinerary" %}">Itinerary</a>
                <a href="{% url "contact" %}">Contact</a>
                {% if request.user.is_authenticated %}
                <a href="{% url "profile" %}">
                    Profile
                </a>
                {% else %}
                <a href="{% url "login" %}">
                    Login/Signup
                </a>
                {% endif %}
            </nav>
            <img class="logo-width" src="{% static "assets/icons/Ren logo.webp" %}" width="5%" />
        </header>
        <div class="nav-bg"></div>
        <div class="main-carousel">
            <!-- list item -->
            <div class="main-list">
                <div class="main-item">
                    <img src="{% static "assets/index/img1.webp" %}">
                    <div class="main-content">
                        <div class="main-author">JECRC</div>
                        <div class="main-title">RENAISSANCE</div>
                        <div class="main-des">
                            19th March - 21st March
                        </div>
                        {% if not request.user.is_authenticated %}
                        <div class="main-buttons signup-btn">
                            <a href="{% url "login" %}">
                                <button>Signup/Login</button>
                            </a>
                        </div>
                        {% endif %}
                        <div class="main-buttons">
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeLhmPIkeDLzOJlvg98HMJZJarzsXeJGKu5OR_SRoFLkaG4Dw/viewform">
                                <button>Register Other Colleges</button>
                            </a>   
                        </div>
                    </div>
                </div>
                <div class="main-item">
                    <img src="{% static "assets/index/img2.webp" %}">
                    <div class="main-content">
                        <div class="main-author">JECRC</div>
                        <div class="main-title">RENAISSANCE</div>
                        <div class="main-des">
                            19th March - 21st March
                        </div>
                        {% if not request.user.is_authenticated %}
                        <div class="main-buttons signup-btn">
                            <a href="{% url "login" %}">
                                <button>Signup/Login</button>
                            </a>
                        </div>
                        {% endif %}
                        <div class="main-buttons">
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeLhmPIkeDLzOJlvg98HMJZJarzsXeJGKu5OR_SRoFLkaG4Dw/viewform">
                                <button>Register Other Colleges</button>
                            </a>   
                        </div>
                    </div>
                </div>
                <div class="main-item">
                    <img src="{% static "assets/index/img3.webp" %}">
                    <div class="main-content">
                        <div class="main-author">JECRC</div>
                        <div class="main-title">RENAISSANCE</div>
                        <div class="main-des">
                            19th March - 21st March
                        </div>
                        {% if not request.user.is_authenticated %}
                        <div class="main-buttons signup-btn">
                            <a href="{% url "login" %}">
                                <button>Signup/Login</button>
                            </a>
                        </div>
                        {% endif %}
                        <div class="main-buttons">
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeLhmPIkeDLzOJlvg98HMJZJarzsXeJGKu5OR_SRoFLkaG4Dw/viewform">
                                <button>Register Other Colleges</button>
                            </a>   
                        </div>
                    </div>
                </div>
                <div class="main-item">
                    <img src="{% static "assets/index/img5.webp" %}">
                    <div class="main-content">
                        <div class="main-author">JECRC</div>
                        <div class="main-title">RENAISSANCE</div>
                        <div class="main-des">
                            19th March - 21st March
                        </div>
                        {% if not request.user.is_authenticated %}
                        <div class="main-buttons signup-btn">
                            <a href="{% url "login" %}">
                                <button>Signup/Login</button>
                            </a>
                        </div>
                        {% endif %}
                        <div class="main-buttons">
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeLhmPIkeDLzOJlvg98HMJZJarzsXeJGKu5OR_SRoFLkaG4Dw/viewform">
                                <button>Register Other Colleges</button>
                            </a>   
                        </div>
                    </div>
                </div>
            </div>
            <!-- list thumnail -->
            <div class="main-thumbnail">
                <div class="main-item">
                    <img src="{% static "assets/index/img11.webp" %}">
                    <div class="main-content">
                        <div class="main-title">
                            Millind Gaba
                        </div>
                    </div>
                </div>
                <div class="main-item">
                    <img src="{% static "assets/index/img22.webp" %}">
                    <div class="main-content">
                        <div class="main-title">
                            DJ Paroma
                        </div>
                    </div>
                </div>
                <div class="main-item">
                    <img src="{% static "assets/index/img33.webp" %}">
                    <div class="main-content">
                        <div class="main-title">
                            Harsh Gujral
                        </div>
                    </div>
                </div>
                <div class="main-item">
                    <img src="{% static "assets/index/img55.webp" %}">
                    <div class="main-content">
                        <div class="main-title">
                            Arjun Kanungo
                        </div>
                    </div>
                </div>
            </div>
            <!-- next prev -->

            <div class="main-arrows">
                <button id="main-prev"> < </button>
                <button id="main-next"> > </button>
            </div>
            <!-- time running -->
            <div class="main-time"></div>
        </div>
        <div id="page11">
            <div class="bada_daba">
                <div class="daba">
                    <div class="page11-inner">
                        <div class="card1">
                            <article class="profile">
                                <div class="profile-image">
                                    <img src="{% static "assets/celeb/2.webp" %}" />
                                </div>
                                <br>
                                <h2 class="username">Ravi Gupta</h2>
                                <p>Standup Comedian</p>
                                <p style="font-family: b;">19 March 2024
                                </p>
                            </article>
                        </div>
                        <div class="card2">
                            <article class="profile">
                                <div class="profile-image">
                                    <img src="{% static "assets/celeb/3.webp" %}" />
                                </div>
                                <br>
                                <h2 class="username">Permish Verma</h2>
                                <p>(Celebrity Night)</p>
                                <p style="font-family: b;">21 March 2024</p>
                            </article>
                        </div>
                        <div class="card3">
                            <article class="profile">
                                <div class="profile-image">
                                    <img src="{% static "assets/celeb/1.webp" %}" />
                                </div>
                                <br>
                                <h2 class="username"> DJ Cheshta</h2>
                                <p>(DJ Night)</p>
                                <p style="font-family: b;">20 March 2024</p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column">
            <h1 class="text-light mx-auto my-3" style="font-family:a;">
                Our Sponsors
            </h1>
            {% comment %} <div class="row justify-content-space-evenly m-auto">
                <img class="col-md-2 sponsor" src="{% static "assets/sponsor/bnr.webp" %}" loading="lazy">
                <img class="col-md-2 sponsor" src="{% static "assets/sponsor/fpf.webp" %}" loading="lazy">
                <img class="col-md-2 sponsor" src="{% static "assets/sponsor/lickme.webp" %}" loading="lazy">
            </div>  {% endcomment %}
            <div class="sponsor-slider">
                <div class="slide-track">
                    <div class="slide">
                        <img class="img-slider" src="{% static "assets/sponsor/bnr.webp" %}" alt="">
                    </div>
                    <div class="slide">
                        <img class="img-slider" src="{% static "assets/sponsor/fpf.webp" %}" alt="">
                    </div>
                    <div class="slide">
                        <img class="img-slider" src="{% static "assets/sponsor/lickme.webp" %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="slider">
            <div class="item"><img loading="lazy" src="{% static "assets/gallery/1-min.webp" %}" alt="Image 1"></div>
            <div class="item"><img loading="lazy" src="{% static "assets/gallery/2-min.webp" %}" alt="Image 1"></div>
            <div class="item"><img loading="lazy" src="{% static "assets/gallery/3-min.webp" %}" alt="Image 1"></div>
            <div class="item"><img loading="lazy" src="{% static "assets/gallery/4-min.webp" %}" alt="Image 1"></div>
            <div class="item"><img loading="lazy" src="{% static "assets/gallery/5-min.webp" %}" alt="Image 1"></div>
            <div class="item"><img loading="lazy" src="{% static "assets/gallery/6-min.webp" %}" alt="Image 1"></div>
            <div class="item"><img loading="lazy" src="{% static "assets/gallery/7-min.webp" %}" alt="Image 1"></div>
            <div class="item"><img loading="lazy" src="{% static "assets/gallery/8-min.webp" %}" alt="Image 1"></div>
            <div class="item"><img loading="lazy" src="{% static "assets/gallery/9-min.webp" %}" alt="Image 1"></div>
            <div class="item"><img loading="lazy" src="{% static "assets/gallery/10-min.webp" %}" alt="Image 1"></div>
            <div class="item"><img loading="lazy" src="{% static "assets/gallery/11-min.webp" %}" alt="Image 1"></div>
            <div class="item"><img loading="lazy" src="{% static "assets/gallery/12-min.webp" %}" alt="Image 1"></div>
            <div class="item"><img loading="lazy" src="{% static "assets/gallery/13-min.webp" %}" alt="Image 1"></div>
            <div class="item"><img loading="lazy" src="{% static "assets/gallery/14-min.webp" %}" alt="Image 1"></div>
            <div class="item"><img loading="lazy" src="{% static "assets/gallery/15-min.webp" %}" alt="Image 1"></div>
            <button id="next">></button>
            <button id="prev"><</button>
        </div>

        <footer id="footer" class="footer text-light mt-auto p-0 bg-black">

            <div class="container-fluid px-5 py-4">
                <div class="row justify-content-evenly">
                    <div class="col-xs-6 col-sm-3 column text-center d-flex flex-column">
                        <div class="my-4 ">
                            <img src="{% static "assets/icons/Ren logo.webp" %}" width="310px"
                                class="footer-logo" />
                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-3 column text-center d-flex flex-column">
                        <div class="my-4 "><img src="{% static "assets/icons/student council.webp" %}" width="300px"
                                class="footer-logo" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 column text-center d-flex flex-column">
                        <h4>Contact Us</h4>
                        <hr class="mb-4 underline" />
                        <ul class="list-unstyled py-4">
                            <li>
                                <a href="tel:7742044215" class="nav-link2">For Registration: +917742044215</a>
                                <h6>(Tanishk Maheshwari)</h6> 
                                </li>
                            <li>
                                <a href="tel:8825312144" class="nav-link2">For Technical: +918825312144</a>
                                <h6>(Aayu Sah)</h6>
                            </li>
                            <li>
                                <a href="tel:8302007298" class="nav-link2">For Cultural: +918302007298</a>
                                <h6>(Suyash chaklan)</h6>
                            </li>
                            <li>
                                <a href="tel:8769518424" class="nav-link2">For Splash: +918769518424</a>
                                <h6>(Mahak Chouhan)</h6> <br><br>
                            </li>
                            
                            <li>
                                <a href="mailto:renaissance@jecrc.ac.in" class="nav-link">renaissance@jecrc.ac.in</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-3 text-center d-flex flex-column">
                        <h4>Follow Us</h4>
                        <hr class="underline" />

                        <div class="row justify-content-center">
                            <h6 class="my-3">JECRC Foundation</h6>
                            <div class="d-flex justify-content-center">
                                <div class="m-2">
                                    <a rel="nofollow" target="_blank" class="navbar-brand"
                                        href="https://www.youtube.com/@jecrcfoundation2150" title="Twitter">
                                        <img loading="lazy" src="{% static "assets/icons/youtube.webp" %}" height="40px" />
                                    </a>
                                </div>
                                <div class="m-2">
                                    <a rel="nofollow" target="_blank" class="navbar-brand facebook"
                                        href="https://www.facebook.com/JECRCfoundation/" title="Facebook">
                                        <img loading="lazy" src="{% static "assets/icons/facebook.webp" %}" height="40px" />
                                    </a>
                                </div>
                                <div class="m-2">
                                    <a target="_blank" rel="nofollow" class="navbar-brand"
                                        href="https://www.instagram.com/jecrcfoundationofficial/" title="instagram">
                                        <img loading="lazy" src="{% static "assets/icons/instagram.webp" %}" height="40px" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <h6 class="my-3">JECRC Renaissance</h6>
                            <div class="d-flex justify-content-center">
                                <div class="m-2">
                                    <a rel="nofollow" target="_blank" class="navbar-brand"
                                        href="https://youtube.com/@TheJECRCRenaissance" title="Twitter">
                                        <img loading="lazy" src="{% static "assets/icons/youtube.webp" %}" height="40px" />
                                    </a>
                                </div>
                                <div class="m-2">
                                    <a rel="nofollow" target="_blank" class="navbar-brand"
                                        href="https://www.facebook.com/jecrcrenaissance/" title="Facebook">
                                        <img loading="lazy" src="{% static "assets/icons/facebook.webp" %}" height="40px" />
                                    </a>
                                </div>
                                <div class="m-2">
                                    <a target="_blank" rel="nofollow" class="navbar-brand"
                                        href="https://www.instagram.com/jecrcrenaissance/" title="instagram">
                                        <img loading="lazy" src="{% static "assets/icons/instagram.webp" %}" height="40px" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <h6 class="my-3">Media Partner</h6>
                            <div class="d-flex justify-content-center">
                                <div class="m-2">
                                    <a rel="nofollow" target="_blank" class="navbar-brand"
                                        href="https://instagram.com/fotografreaks_jecrc_" title="instagram">
                                        <img loading="lazy" src="{% static "assets/icons/ff.webp" %}" height="40px" />
                                    </a>
                                </div>

                                <div class="m-2">
                                    <a target="_blank" rel="nofollow" class="navbar-brand"
                                        href="https://instagram.com/fotografreaks_jecrc_" title="instagram">
                                        <img loading="lazy" src="{% static "assets/icons/instagram.webp" %}" height="40px" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %} <div class="d-flex flex-column text-center py-4 m-0" style="background-color: rgba(20, 22, 30, 1)">
                <div class="copyright m-auto">
                    <p class="my-2">&copy; Copyright <strong>Jecrc Foundation</strong>. All Rights Reserved.&nbsp<a
                            target="_blank" href="pages/privacy_policy.html">Privacy Policy</a></p>
                </div>
                <div class="credits m-auto">
                    <p class="my-2">Developed by
                        <a target="_blank" href="https://www.linkedin.com/in/yash-raj-arora-432728239">Yash Raj Arora
                        </a>|
                        <a target="_blank" href="https://github.com/KhushalJangid/">Khushal Jangid </a>|
                        <a target="_blank" href="https://www.linkedin.com/in/riya-goyal-711994225">Riya </a>|
                        <a target="_blank" href="https://www.linkedin.com/in/archit-jain-378106231">Archit Jain </a>
                    </p>
                    <p class="my-2">Graphics Designed by
                        <a target="_blank" href="https://instagram.com/shubham_saharan4?igshid=ZDdkNTZiNTM=">Shubham
                            Saharan </a>|
                        <a target="_blank" href="https://www.linkedin.com/in/dhruv-sharma-8b2403229">Dhruv Sharma </a>|
                        <a target="_blank" href="https://instagram.com/raginijoshi_?igshid=ZDdkNTZiNTM=">Ragini Joshi
                        </a>|
                        <a target="_blank" href="https://instagram.com/sameer__mittal__?igshid=ZDdkNTZiNTM=">Sameer
                            Mittal </a>
                    </p>

                </div>
            </div> {% endcomment %}
        </footer>
        <script src="{% static "js/app_hero.js" %}" async></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.8.1/vanilla-tilt.min.js"
        integrity="sha512-wC/cunGGDjXSl9OHUH0RuqSyW4YNLlsPwhcLxwWW1CR4OeC2E1xpcdZz2DeQkEmums41laI+eGMw95IJ15SS3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
        <script src="{% static "js/tilt.js" %}" defer></script>
        <script src="{% static "js/slider.js" %}" async></script>
        <script src="{% static "js/navbar.js" %}" async></script>
    </body>

</html>