:root {
  --color1: rgb(0, 231, 255);
  --color2: rgb(255, 0, 231);
  --charizard1: #fac;
  --charizard2: #ddccaa;
}

.event-card {
  width: 20rem;
  height: 29.42rem;
  position: relative;
  margin: 20px;
  border-radius: 1.428%;
  box-shadow: -5px -5px 5px -5px var(--color1), 5px 5px 5px -5px var(--color2), -7px -7px 10px -5px transparent,
    7px 7px 10px -5px transparent, 0 0 5px 0px rgba(255, 255, 255, 0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
  will-change: transform;
  animation: holoCard;
  animation-duration: 6s;
  opacity: 0.85;
  cursor: pointer;
}

.event-card:hover {
  box-shadow: -20px -20px 30px -25px var(--color1), 20px 20px 30px -25px var(--color2),
    -7px -7px 10px -5px var(--color1), 7px 7px 10px -5px var(--color2), 0 0 13px 4px rgba(255, 255, 255, 0.3),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

#app {
  position: relative;
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (min-width: 600px) {
  .cards {
    flex-direction: row;
  }
}
@media screen and (max-width: 600px) {
  .event-card {
    box-shadow: -20px -20px 30px -25px var(--color1), 20px 20px 30px -25px var(--color2),
      -7px -7px 10px -5px var(--color1), 7px 7px 10px -5px var(--color2), 0 0 13px 4px rgba(255, 255, 255, 0.3),
      0 55px 35px -20px rgba(0, 0, 0, 0.5);
  }
}

p {
  font-weight: 400;
  font-size: 16px;
  padding: 1em;
  margin-top: 0;
}

@keyframes holoCard {
  0%,
  100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  5%,
  8% {
    transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
  }
  13%,
  16% {
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
  }
  35%,
  38% {
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
  }
  55% {
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
  }
}
