.sponsor-slider,
.slider {
  position: relative;
  width: 100%;
  height: 370px;
  overflow: hidden;
}

.item img {
  height: 320px;
  width: 400px;
}
.item {
  position: absolute;
  width: 400px;
  height: 320px;
  border-radius: 10px;
  padding: 20px;
  transition: 0.5s;
  left: calc(50% - 200px);
  top: 0;
}
#s-next,
#s-prev,
#next,
#prev {
  position: absolute;
  top: 40%;
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: xxx-large;
  font-family: monospace;
  font-weight: bold;
  left: 24%;
}
#s-next,
#next {
  left: 76%;
}

@media (max-width: 768px) {
  .sponsor-slider,
  .slider {
    height: 55vh;
  }

  .item {
    padding: 10px;
    border-radius: 10px;
  }
  #s-next,
  #next {
    z-index: 2;
    left: 93%;
  }
  #s-prev,
  #prev {
    left: 4%;
  }
}

@media (max-width: 440px) {
  .sponsor-slider,
  .slider {
    height: 48vh;
    width: 90%;
  }

  .item {
    padding: 0px;
  }

  .item img {
    width: 50vh;
    height: auto;
    margin-left: 8vh;
    top: 50%;
  }
  #s-next,
  #s-prev,
  #next,
  #prev {
    /* display: ;  */
    z-index: 2;
    top: 30%;
  }
}
